<div class="addTaskComponent">
    <div class="container col-md-6 offset-md-3">
        <h2>{{action}} Task</h2>
        <form (ngSubmit)="saveTask()" #addTaskForm="ngForm">
          <div class="form-group">
            <label for="taskName">Task Name:</label>
            <input type="text" required ="true" class="form-control" id="taskName" [(ngModel)]="newTask.taskName" placeholder="Enter Task" name="taskName">
          </div>
          <div class="form-group">
            <label for="parentName">Parent Task Name:</label>            
            <select class="custom-select" name="parentName" [(ngModel)]="newTask.parentId">
              <ng-container *ngFor = "let task of taskList">
                  <option *ngIf="!(newTask && newTask.id === task.id)" [value]="task.id">{{task.taskName}}</option>
              </ng-container>
            </select>
          </div>   
          <div class="form-group">
            <label for="priority">Priority:</label>
            <input type="range" class="form-control"
              name="priority"
              min="1" max="30" value="1" class="slider" 
              [(ngModel)]="newTask.priority" id="priority"
              [title]=newTask.priority>
          </div>   
          <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input type="date" required ="true" class="form-control" id="startDate" name="startDate" placeholder="Start Date" [ngModel]="newTask.startDate | date:'yyyy-MM-dd'" (ngModelChange)="newTask.startDate = $event">  
          </div>  
          <div class="form-group">
            <label for="endDate">End Date:</label>
            <input type="date" required ="true" class="form-control" id="endDate" name="endDate" placeholder="End Date" [ngModel]="newTask.endDate | date:'yyyy-MM-dd'" (ngModelChange)="newTask.endDate = $event">  
          </div>      
           
          <button type="submit" class="btn btn-success" [disabled]="!addTaskForm.valid" type="submit">Submit</button>
          <button *ngIf="showResetButton" type="button" class="btn btn-primary leftMargin" (click)="reset()">Reset</button>
        </form>
      </div>
</div>